<!DOCTYPE html>
<html>
<head>
    <title>Popular Public GitHub Repositories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="../public/js/main.js"></script>
</head>
<body>
<div class="container">
    <h2>Popular Public GitHub Repositories</h2>
    <table id="repo-details">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Created Date</th>
                <th>Last Push Date</th>
                <th>Description</th>
                <th>Stars</th>
            </tr>
        </thead>
    </table>
</div>
</body>
</html>